[Unit]
Description=Webhook Handler for Catty app
After=network.target

[Service]
User=dev
WorkingDirectory=/home/dev/webhook-handler
ExecStart=/home/dev/webhook-handler/venv/bin/python logic.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
